In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv("Books.csv")
ratings = pd.read_csv("Ratings.csv")
users = pd.read_csv("Users.csv")

C:\Users\aviro\AppData\Local\Temp\ipykernel_8684\2968410061.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

In [3]:
book_rating = ratings.merge(books,on='ISBN')
book_rating.isnull().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
dtype: int64

In [4]:
grouped_data = book_rating.groupby('Book-Title')
book_vs_ratingCount = grouped_data.count()['Book-Rating'].reset_index()
book_vs_ratingCount.rename(columns={'Book-Rating':'No. of ratings'},inplace=True)
#book_vs_ratingCount

In [5]:
book_vs_avgRating = grouped_data.mean('Book-Rating').reset_index()
book_vs_avgRating.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
#book_vs_avgRating

In [6]:
popularity_df = book_vs_ratingCount.merge(book_vs_avgRating,on="Book-Title")[['Book-Title','No. of ratings','avg_rating']]
#popularity_df

In [7]:
popularity_df = popularity_df[popularity_df['No. of ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [8]:
popularity_df = popularity_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Publisher','Image-URL-M','avg_rating','No. of ratings']]
popularity_df.head()

,Book-Title,Book-Author,Publisher,Image-URL-M,avg_rating,No. of ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...,5.852804,428
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...,5.824289,387
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0590353403.0...,5.737410,278
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/043935806X.0...,5.501441,347
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439064872.0...,5.183453,556

In [9]:
book_vs_ratingCount_min50 = book_vs_ratingCount[book_vs_ratingCount['No. of ratings']>=50]
#book_vs_ratingCount

In [10]:
ratings['Book-Rating'].max()
ratings['Book-Rating'].min()

0

In [11]:
x = book_rating.groupby('User-ID').count()['Book-Rating']>200
active_users = x[x].index
active_users

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=811)

In [12]:
filtered_rating = book_rating[book_rating['User-ID'].isin(active_users)]
# filtered_rating.head(1)

In [13]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [14]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [15]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
similarity_score = cosine_similarity(pt)

In [18]:
def recommend(book_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    data =[]
    for i in similar_items:
        item=[]
        temp_df = books[books['Book-Title']==pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        data.append(item)
    return data

In [19]:
import pickle
pickle.dump(popularity_df,open('popular.pkl','wb'))
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_score,open('similar.pkl','wb'))

## New things

In [20]:
data = pd.read_csv('data.csv')
data.head()

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history

In [21]:
def getAdequateValue(df,key):
    ratings = df[key].values.tolist()
    ratings = sorted(ratings)
    threshold = round(len(ratings)*(0.9))
    return ratings[threshold]

In [22]:
threshold_rating = getAdequateValue(data,'num_ratings')

In [23]:
refined_data = data[data['num_ratings']>=threshold_rating]
threshold_value = getAdequateValue(refined_data,'rating')
refined_data = data[data['rating']>=threshold_value]
topBooks = refined_data.sort_values('rating',ascending=False)
topBooks

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
1255,1255,Words of Radiance,4.75,Brandon Sanderson,"2,73,505","16,467","1,87,397","Words of Radiance, Book Two of the Stormlight ...",fantasy
364,364,Heartstopper: Volume Four,4.67,Alice Oseman,"2,15,366","24,694","56,006",Boy meets boy. Boys become friends. Boys fall ...,romance
1220,1220,The Way of Kings,4.64,Brandon Sanderson,"3,92,682","26,924","1,87,370",From #1 New York Times bestselling author Bran...,fantasy
332,332,Heartstopper: Volume Three,4.63,Alice Oseman,"2,61,118","26,083","56,006",In this volume we’ll see the Heartstopper gang...,romance
1222,1222,A Court of Mist and Fury,4.62,Sarah J. Maas,"7,89,364","74,155","2,59,944",The seductive and stunning #1 New York Times b...,fantasy
...,...,...,...,...,...,...,...,...,...
1305,1305,The Song of Achilles,4.39,Madeline Miller,"9,19,452","1,05,238","51,704",Alternate cover edition of ISBN 9780062060624....,fantasy
306,306,It Ends with Us,4.39,Colleen Hoover,"15,22,014","1,47,653","5,74,629",Sometimes it is the one who loves you who hurt...,romance
1497,1497,The Dragon Republic,4.39,R.F. Kuang,"55,733","9,909","17,900",The searing follow-up to 2018’s most celebrate...,fantasy
1519,1519,Proven Guilty,4.39,Jim Butcher,"1,13,908","3,296","45,552","There's no love lost between Harry Dresden, th...",fantasy
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history

In [24]:
genres = data['genre'].drop_duplicates().values.tolist()
no_of_genre = len(genres)

In [25]:
genre_wise_suggestions = []
for genre in genres:
    genre_wise_suggestions.append(data[data['genre']==genre])
    
for i in range(no_of_genre):
    threshold_rating = getAdequateValue(genre_wise_suggestions[i],'rating')
    genre_wise_suggestions[i] = genre_wise_suggestions[i][genre_wise_suggestions[i]['rating']>=threshold_rating]
    genre_wise_suggestions[i] = genre_wise_suggestions[i].sort_values('num_ratings',ascending=False).head(20)

In [26]:
genre_suggestions = {}

for i in range(no_of_genre):
    genre_suggestions[genres[i]] = genre_wise_suggestions[i]